/* BOUTON TOP */
#scroll_to_top {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 50px;
  right: -280px;
}
#scroll_to_top img {
  width: 70px;
}

#top:target #containerabc,

#containerabc:target {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 300px;
}



/* GENERAL */
body {
  margin: 0;
  background-color: #3e4253;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  color: white;
}

h1 {
  transform: translate3d(+165px, 0, 0);
}

h2 {
  transform: translate3d(+296px, 0, 0);
}

a {
  text-decoration: none;
  color: white;
}

/* LE SITE  */
.main {
  padding: 25px;
  flex: 1;
  display:inline-block;
  width: 930px;
}

section {
  min-height: 85vh;
  transform: translate3d(+155px, 0, 0);
}

.Titre1 {
  text-align: center;
}

.Texte1 {
  text-align: center;
}

.texteSect1 {
  text-align: center;
  padding-top: 40px;
  font-style: italic;
  line-height: 25px;
  text-align: justify;
}

#section01 {
  height: 600px;
  overflow:hidden;
}



/* MENU */

ul {
  list-style:none;
  margin-left: 10px;
  padding-left: 10px;
}

li {
  line-height: 40px;
  font-weight: bold;
}

#wrap {
  margin: 0;
  display: flex;
  position: absolute;
  height: 100%;
  transition: transform .4s cubic-bezier(.25, .1, .25, 1);
}

#wrap:not(:target) {
  transform: translate3d(-335px, 0, 0);
}

#wrap:target {
  transform: translate3d(0, 0, 0);
}

#open,
#close {
  height: 44px;
  text-align: right;
  display: block;
  margin-right: -30px;
}

#close {
  font-size: 26px;
}

#wrap:target #open,
#wrap:not(:target) #close {
  display: none;
}

#wrap:target #open {
  display: none;
}

.nav {
  padding: 25px;
}

.nav a:hover {
  color: #3e4253;
  text-decoration: underline;
}

.nav a{
  color: white;
  display: block;
  text-decoration: none;
}

.header {
  background: #efae40;
  width: 360px;
  padding: 0 20px;
  display:inline-block;
  vertical-align:top;
  font-size: 30px;
  color: white;
}

.onglet1 {
  margin-top: 150px;
  text-decoration: none;
}

.onglet2 {
  margin-top: 60px;
  text-decoration: none;
}



/* HUBLOT ANIMATION */
@keyframes rotation01 {
		from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(360deg);
		}
}

@keyframes rotation02 {
		from {
				transform: rotate(360deg);
		}
		to {
				transform: rotate(0deg);
		}
}

.HublotGalaxy {
  background: green;
  max-width: 600px;
  position: relative;
  padding-left: 200px;
}

.HublotGalaxy img {
  position: absolute;
  top : 0;
  width: 50%;
}

.fond{
    animation: rotation01 70s infinite linear;
}

.terre{
    animation: rotation01 30s infinite linear;
}

.nuage {
    animation: rotation02 80s infinite linear;
}

.nuage2 {
    animation: rotation02 40s infinite linear;

}

.avion {
    animation: rotation01 10s infinite linear;
}



/* ABECEDAIRE */
/* Boutons */
.boutonABC {
  transform: translate3d(+340px, 0, 0);
}

button {
	width:110px;
  border-radius:12px 0 12px 0;
	background: #efae40;
	border:none;
	color: #ffffff;
	font: 16px 'Muli';
	padding:8px 0 8px 0;
  margin: 30px 5px 20px 5px;
}

button:hover {
  background: #de9a27;
}



/* Containers */
article {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  background-color: #efae40;
  font-size: 150px;
  text-align: center;
  position: relative;
}

/* Container Abécédaire */
#containerabc:target {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 300px;
}

#containerabc article img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

#containerabc article p {
  font-size: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

#containerabc article:hover img,
#containerabc article:hover p {
  opacity: 1;
}

#containerabc article span {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

#containerabc article:hover span {
  opacity: 0;
}

/* Container Qui suis-je ? */
#containerimg:target {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 300px;
}

#containerimg article img {
  position: absolute;
  top: 14%;
  left: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

#containerimg article p {
  font-size: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

#containerimg article:hover img {
  opacity: 0;
}

#containerimg article span {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

#containerimg article:hover span,
#containerimg article:hover p {
  opacity: 1;
}
